@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
button,
input {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: black;
}

@layer components {
  .input-black {
    @apply p-2 md:px-4 md:py-3 md:w-[24rem] md:text-xl rounded-sm outline-none bg-[rgb(51,51,51)] text-white;
  }
  .input-white {
    @apply p-2 md:px-4 md:py-6 md:w-[24rem] md:text-2xl rounded-sm outline-none text-[#333];
  }
  .button {
    @apply p-2 md:p-3 text-lg md:text-2xl text-white bg-primary rounded-md shadow-md hover:opacity-80;
  }
}

@layer utilities {
  .input-black {
    width: 100%;
    background-color: rgb(51, 51, 51);
    visibility: visible;
  }
  .des {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
